@using LA_LIGA_REKREATIVO.Client.Services
@using LA_LIGA_REKREATIVO.Shared.Dto
@using LA_LIGA_REKREATIVO.Client.Server;
@inject Server Server
@inject FileService _fileService;

@if (playerStats.Player is not null)
{
    <div style="display: flex; justify-content: center;">
        <img style="height: 35vh;margin-bottom: 20px; position: relative;" src="@_fileService.GetImagePath(player.Picture)" />
    </div>
    <Card>
        <TitleTemplate>
            <GridRow Class="content-centar">
                <span style="font-size: x-large">@playerStats.Player.FullName</span>
            </GridRow>

            <GridRow Class="content-centar">
                <span style="font-size: small">@playerStats.Team.Name</span>
            </GridRow>

        </TitleTemplate>
        <Body>
            <GridRow>
                <GridCol Span="8">
                    <GridRow Style="display: flex; justify-content: center;">
                        <span style="font-size: smaller">
                            Fantasy points
                        </span>
                    </GridRow>
                    <GridRow Style="display: flex; justify-content: center;">
                        <span style="font-size: x-large">
                            @playerStats.TotalPoints
                        </span>
                    </GridRow>
                </GridCol>
                <GridCol Span="8">
                    <GridRow Style="display: flex; justify-content: center;">
                        <span style="font-size: smaller">
                            Goals
                        </span>
                    </GridRow>
                    <GridRow Style="display: flex; justify-content: center;">
                        <span style="font-size: x-large">
                            @playerStats.Goals
                        </span>
                    </GridRow>
                </GridCol>
                <GridCol Span="8">
                    <GridRow Style="display: flex; justify-content: center;">
                        <span style="font-size: smaller">
                            Assists
                        </span>
                    </GridRow>
                    <GridRow Style="display: flex; justify-content: center;">
                        <span style="font-size: x-large">
                            @playerStats.Assists
                        </span>
                    </GridRow>
                </GridCol>
            </GridRow>

            <Divider Style="margin-top: 12px;margin-bottom: 12px;" />

            <GridRow>
                <GridCol Span="16" Class="content-centar">Total Matches:</GridCol>
                <GridCol Span="8" Style="font-size: medium">@playerStats.TotalMatches</GridCol>
            </GridRow>
            <GridRow>
                <GridCol Span="16" Class="content-centar">Wins:</GridCol>
                <GridCol Span="8" Style="font-size: medium">@playerStats.Wins</GridCol>
            </GridRow>
            <GridRow>
                <GridCol Span="16" Class="content-centar">Draws:</GridCol>
                <GridCol Span="8" Style="font-size: medium">@playerStats.Draws</GridCol>
            </GridRow>
            <GridRow>
                <GridCol Span="16" Class="content-centar">Losts:</GridCol>
                <GridCol Span="8" Style="font-size: medium">@playerStats.Losts</GridCol>
            </GridRow>

            <Divider Style="margin-top: 12px;margin-bottom: 12px;" />

            <GridRow>
                <GridCol Span="16" Class="content-centar">Goals Per Match:</GridCol>
                <GridCol Span="8" Style="font-size: medium">@playerStats.GoalsPerMatch.ToString("F1")</GridCol>
            </GridRow>
            <GridRow>
                <GridCol Span="16" Class="content-centar">WinPerMatch:</GridCol>
                <GridCol Span="8" Style="font-size: medium">@playerStats.WinPerMatch.ToString("F1") %</GridCol>
            </GridRow>

            <Divider Style="margin-top: 12px;margin-bottom: 12px;" />

            <GridRow>
                <GridCol Span="16" Class="content-centar">Yellow Cards:</GridCol>
                <GridCol Span="8" Style="font-size: medium">@playerStats.YellowCards</GridCol>
            </GridRow>
            <GridRow>
                <GridCol Span="16" Class="content-centar">Red Cards:</GridCol>
                <GridCol Span="8" Style="font-size: medium">@playerStats.RedCards</GridCol>
            </GridRow>

            <Divider Style="margin-top: 12px;margin-bottom: 12px;" />

            <GridRow>
                <GridCol Span="16" Class="content-centar">Own goals:</GridCol>
                <GridCol Span="8" Style="font-size: medium">@playerStats.OwnGoals</GridCol>
            </GridRow>
            <GridRow>
                <GridCol Span="16" Class="content-centar">Missed Penalty:</GridCol>
                <GridCol Span="8" Style="font-size: medium">@playerStats.MissedPenalty</GridCol>
            </GridRow>
            <GridRow>
                <GridCol Span="16" Class="content-centar">Missed From 10m:</GridCol>
                <GridCol Span="8" Style="font-size: medium">@playerStats.Missed10meter</GridCol>
            </GridRow>

            @if (playerStats.Player.IsGk)
            {
                <Divider Style="margin-top: 12px;margin-bottom: 12px;" />

                <GridRow>
                    <GridCol Span="16" Class="content-centar">Clean Sheets:</GridCol>
                    <GridCol Span="8" Style="font-size: medium">@playerStats.CleanSheetGK</GridCol>
                </GridRow>
                <GridRow>
                    <GridCol Span="16" Class="content-centar">Saved Penalties:</GridCol>
                    <GridCol Span="8" Style="font-size: medium">@playerStats.SavedFromPenaltyGK</GridCol>
                </GridRow>

                <GridRow>
                    <GridCol Span="16" Class="content-centar">Saved From 10 meter:</GridCol>
                    <GridCol Span="8" Style="font-size: medium">@playerStats.SavedFrom10meterGK</GridCol>
                </GridRow>
            }
        </Body>
    </Card>

    @if (playerhistory.Any())
    {
        <div style="margin-top:12px;">
            <Table Responsive TItem="PlayerStatsHistoryDto" DataSource="@playerhistory" Size=@TableSize.Small HidePagination>
                <TitleTemplate>
                    <span style="font-size: large;">
                        History
                    </span>
                </TitleTemplate>
                <ColumnDefinitions>
                    <PropertyColumn Title="Year" Property="x=> x.Year" />
                    <PropertyColumn Title="Team" Property="x=> x.Team.Name" />
                    <PropertyColumn Title="Fantasy Points" Property="x=> x.TotalPoints" />
                    <PropertyColumn Title="Golas" Property="x=> x.Goals" />
                    <PropertyColumn Title="Assists" Property="x=> x.Assists" />
                    <PropertyColumn Title="Total Matches" Property="x=> x.TotalMatches" />
                    <PropertyColumn Title="Goals Per Match" Property="x=> x.GoalsPerMatch" />
                </ColumnDefinitions>
            </Table>
        </div>
    }
}

@code {
    [Parameter] public int Id { get; set; }
    private PlayerDto player = new();
    private PlayerStatsDto playerStats = new();
    private List<PlayerStatsHistoryDto> playerhistory = new();

    protected async override Task OnParametersSetAsync()
    {
        player = await Server.Players.Get(Id);
        playerStats = await Server.Players.GetPlayerStats(Id);
        playerhistory = await Server.Players.GetPlayerStatsForNonActiveLeagues(Id);
    }
}
