@using LA_LIGA_REKREATIVO.Client.Services
@using LA_LIGA_REKREATIVO.Shared.Dto
@using LA_LIGA_REKREATIVO.Client.Server;
@using Microsoft.Extensions.Localization

@inject Server Server
@inject FileService _fileService;
@inject IStringLocalizer<Shared.PlayerProfile.PlayerOverview> Localizer

@if (playerStats.Player is not null)
{
    <div class="klasa" style="display: flex; justify-content: center;">
        <img style="height: 35vh;margin-bottom: 20px; position: relative;" src="@_fileService.GetImagePath(player.Picture)" />
    </div>
    <Card>
        <TitleTemplate>
            <GridRow Class="content-centar">
                <span style="font-size: x-large">@playerStats.Player.FullName</span>
            </GridRow>

            <GridRow Class="content-centar">
                <span style="font-size: small">@playerStats.Team.Name</span>
            </GridRow>

        </TitleTemplate>
        <Body>
            <GridRow>
                <GridCol Span="8">
                    <GridRow Style="display: flex; justify-content: center;">
                        <span style="font-size: smaller">
                            @Localizer["FantasyPoints"]
                        </span>
                    </GridRow>
                    <GridRow Style="display: flex; justify-content: center;">
                        <span style="font-size: x-large">
                            @playerStats.TotalPoints
                        </span>
                    </GridRow>
                </GridCol>
                <GridCol Span="8">
                    <GridRow Style="display: flex; justify-content: center;">
                        <span style="font-size: smaller">
                            @Localizer["Goals"]
                        </span>
                    </GridRow>
                    <GridRow Style="display: flex; justify-content: center;">
                        <span style="font-size: x-large">
                            @playerStats.Goals
                        </span>
                    </GridRow>
                </GridCol>
                <GridCol Span="8">
                    <GridRow Style="display: flex; justify-content: center;">
                        <span style="font-size: smaller">
                            @Localizer["Assists"]
                        </span>
                    </GridRow>
                    <GridRow Style="display: flex; justify-content: center;">
                        <span style="font-size: x-large">
                            @playerStats.Assists
                        </span>
                    </GridRow>
                </GridCol>
            </GridRow>

            <Divider Style="margin-top: 12px;margin-bottom: 12px;" />

            <GridRow>
                <GridCol Span="16" Class="content-centar">@Localizer["TotalMatches"]:</GridCol>
                <GridCol Span="8" Style="font-size: medium">@playerStats.TotalMatches</GridCol>
            </GridRow>
            <GridRow>
                <GridCol Span="16" Class="content-centar">@Localizer["Wins"]:</GridCol>
                <GridCol Span="8" Style="font-size: medium">@playerStats.Wins</GridCol>
            </GridRow>
            <GridRow>
                <GridCol Span="16" Class="content-centar">@Localizer["Draws"]:</GridCol>
                <GridCol Span="8" Style="font-size: medium">@playerStats.Draws</GridCol>
            </GridRow>
            <GridRow>
                <GridCol Span="16" Class="content-centar">@Localizer["Losts"]:</GridCol>
                <GridCol Span="8" Style="font-size: medium">@playerStats.Losts</GridCol>
            </GridRow>

            <Divider Style="margin-top: 12px;margin-bottom: 12px;" />

            <GridRow>
                <GridCol Span="16" Class="content-centar">@Localizer["GoalsPerMatch"]:</GridCol>
                <GridCol Span="8" Style="font-size: medium">@playerStats.GoalsPerMatch.ToString("F1")</GridCol>
            </GridRow>
            <GridRow>
                <GridCol Span="16" Class="content-centar">@Localizer["WinPerMatch"]:</GridCol>
                <GridCol Span="8" Style="font-size: medium">@playerStats.WinPerMatch.ToString("F1") %</GridCol>
            </GridRow>

            <Divider Style="margin-top: 12px;margin-bottom: 12px;" />

            <GridRow>
                <GridCol Span="16" Class="content-centar">@Localizer["YellowCards"]:</GridCol>
                <GridCol Span="8" Style="font-size: medium">@playerStats.YellowCards</GridCol>
            </GridRow>
            <GridRow>
                <GridCol Span="16" Class="content-centar">@Localizer["RedCards"]:</GridCol>
                <GridCol Span="8" Style="font-size: medium">@playerStats.RedCards</GridCol>
            </GridRow>

            <Divider Style="margin-top: 12px;margin-bottom: 12px;" />

            <GridRow>
                <GridCol Span="16" Class="content-centar">@Localizer["OwnGoals"]:</GridCol>
                <GridCol Span="8" Style="font-size: medium">@playerStats.OwnGoals</GridCol>
            </GridRow>
            <GridRow>
                <GridCol Span="16" Class="content-centar">@Localizer["MissedPenalty"]:</GridCol>
                <GridCol Span="8" Style="font-size: medium">@playerStats.MissedPenalty</GridCol>
            </GridRow>
            <GridRow>
                <GridCol Span="16" Class="content-centar">@Localizer["MissedFrom10m"]:</GridCol>
                <GridCol Span="8" Style="font-size: medium">@playerStats.Missed10meter</GridCol>
            </GridRow>

            @if (playerStats.Player.IsGk)
            {
                <Divider Style="margin-top: 12px;margin-bottom: 12px;" />

                <GridRow>
                    <GridCol Span="16" Class="content-centar">@Localizer["CleanSheets"]:</GridCol>
                    <GridCol Span="8" Style="font-size: medium">@playerStats.CleanSheetGK</GridCol>
                </GridRow>
                <GridRow>
                    <GridCol Span="16" Class="content-centar">@Localizer["SavedPenalties"]:</GridCol>
                    <GridCol Span="8" Style="font-size: medium">@playerStats.SavedFromPenaltyGK</GridCol>
                </GridRow>

                <GridRow>
                    <GridCol Span="16" Class="content-centar">@Localizer["SavedFrom10meter"]:</GridCol>
                    <GridCol Span="8" Style="font-size: medium">@playerStats.SavedFrom10meterGK</GridCol>
                </GridRow>
            }
        </Body>
    </Card>

    @if (playerhistory.Any())
    {
        <div style="margin-top:12px;">
            <Table Responsive TItem="PlayerStatsHistoryDto" DataSource="@playerhistory" Size=@TableSize.Small HidePagination>
                <TitleTemplate>
                    <span style="font-size: large;">
                        @Localizer["History"]
                    </span>
                </TitleTemplate>
                <ColumnDefinitions>
                    <PropertyColumn Title=@Localizer["Year"] Property="x=> x.Year" />
                    <PropertyColumn Title=@Localizer["Team"] Property="x=> x.Team.Name" />
                    <PropertyColumn Title=@Localizer["FantasyPoints"] Property="x=> x.TotalPoints" />
                    <PropertyColumn Title=@Localizer["Goals"] Property="x=> x.Goals" />
                    <PropertyColumn Title=@Localizer["Assists"] Property="x=> x.Assists" />
                    <PropertyColumn Title=@Localizer["TotalMatches"] Property="x=> x.TotalMatches" />
                    <PropertyColumn Title=@Localizer["GoalsPerMatch"] Property="c=>c.GoalsPerMatch">
                        @context.GoalsPerMatch.ToString("F1")
                    </PropertyColumn>
                </ColumnDefinitions>
            </Table>
        </div>
    }
}

<style>
    .klasa {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .klasa::before {
            content: "";
            background-image: url("./358511247_150359871398221_6497914246200068198_n.jpg");
            background-size: cover;
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            opacity: 0.25;
        }
</style>

@code {
    [Parameter] public int Id { get; set; }
    private PlayerDto player = new();
    private PlayerStatsDto playerStats = new();
    private List<PlayerStatsHistoryDto> playerhistory = new();

    protected async override Task OnParametersSetAsync()
    {
        player = await Server.Players.Get(Id);
        playerStats = await Server.Players.GetPlayerStats(Id);
        playerhistory = await Server.Players.GetPlayerStatsForNonActiveLeagues(Id);
    }
}
