@using LA_LIGA_REKREATIVO.Client.Services
@using LA_LIGA_REKREATIVO.Shared
@using LA_LIGA_REKREATIVO.Shared.Dto;
@using Newtonsoft.Json;
@using System.Net.Http.Headers;
@using LA_LIGA_REKREATIVO.Client.Server;
@inject Server Server
@inject IMessageService MessageService
@inject FileService _fileService


<Modal Title="Edit team"
       Visible="true"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel">
    <Form Model="team"
          OnFinish="OnFinish"
          OnFinishFailed="OnFinishFailed"
          LabelColSpan="8"
          WrapperColSpan="16"
          @ref="@addTeamForm">
        <FormItem Label="Select League">
            <Select Mode="multiple"
                    TItem="LeagueDto"
                    TItemValue="int"
                    DataSource="@leagues"
                    DefaultValues="selectedLeagues.Select(x=> x.Id)"
                    LabelName="@nameof(LeagueDto.Name)"
                    ValueName="@nameof(LeagueDto.Id)"
                    Style="width: 200px"
                    Placeholder="Select leagues"
                    IgnoreItemChanges="false"
                    OnSelectedItemsChanged="OnSelectedLeagues"
                    AllowClear>
            </Select>
        </FormItem>
        <FormItem Label="Name">
            <Input @bind-Value="context.Name" />
        </FormItem>
        <FormItem>
            <InputFile OnChange="OnInputFileChange" />
        </FormItem>
    </Form>
</Modal>

@code {
    [Parameter] public EventCallback CloseModal { get; set; }
    [Parameter] public int Id { get; set; }
    private Form<TeamDto> addTeamForm = null!;
    private TeamDto team = new();
    private List<LeagueDto> leagues = new();
    private HashSet<LeagueDto> selectedLeagues = new();
    private LeagueDto league = new();
    private bool submitting;
    private List<UploadResult> uploadResults = new();

    protected async override Task OnParametersSetAsync()
    {
        team = await Server.Teams.Get(Id);
        var result = await Server.Leagues.Get();
        leagues = result.ToList();
        selectedLeagues = team.Leagues.ToHashSet();
    }

    public async Task HandleOk(MouseEventArgs e)
    {
        submitting = true;
        addTeamForm.Submit();
    }

    private async Task HandleCancel(MouseEventArgs e)
    {
        await CloseModal.InvokeAsync();
    }

    private async Task OnFinish(EditContext editContext)
    {
        if (uploadResults.FirstOrDefault() is not null)
        {
            team.LogoSrc = uploadResults.FirstOrDefault()?.StoredFileName;
        }
        team.Leagues.Clear();
        team.Leagues.AddRange(selectedLeagues);
        var result = await Server.Teams.Update(team);
        if (result)
            _ = MessageService.Success($"{team} is edited.");

        await CloseModal.InvokeAsync();
    }

    private void OnFinishFailed(EditContext editContext)
    {
        ///Console.WriteLine($"Failed:{JsonSerializer.Serialize(player.LastName)}");
    }

    private void OnSelectedLeagues(IEnumerable<LeagueDto> leagues)
    {
        selectedLeagues = leagues.ToHashSet();
    }

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        uploadResults = new();
        uploadResults = await _fileService.UploadFile(e);
    }
}
