@using LA_LIGA_REKREATIVO.Shared.Dto;
@using LA_LIGA_REKREATIVO.Client.Server;
@inject Server Server
@inject IMessageService MessageService

@if (showAddSummaryModal)
{
    <AddSummary OnChange="AddNewSummary" CloseModal="CloseAddSummaryModal" Players="@matchPlayers"></AddSummary>
}

@if (showEditSummaryModal)
{
    <EditSummary Summary="@summary" OnChange="EditExistingSummary" CloseModal="CloseEditSummaryModal" Players="@allPlayers"></EditSummary>
}

<Modal Title="Edit match"
       Visible="true"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel"
       Style="width: 80%">

    <div>
        <GridRow>
            <GridCol Span="12">
                <Form Model="Match"
                      OnFinish="OnFinish"
                      OnFinishFailed="OnFinishFailed"
                      LabelColSpan="8"
                      WrapperColSpan="16"
                      @ref="@editMatchForm">
                    <FormItem Label="Select League">
                        <Select TItem="LeagueDto"
                                TItemValue="int?"
                                DataSource="@leagues"
                                DefaultValue="@Match.League?.Id"
                                LabelName="@nameof(LeagueDto.Name)"
                                ValueName="@nameof(PlayerDto.Id)"
                                Style="width: 100%"
                                Placeholder="Select a league"
                                IgnoreItemChanges="false"
                                OnSelectedItemChanged="OnSelectedLeague"
                                AllowClear>
                        </Select>
                    </FormItem>
                    <FormItem Label="Home Team">
                        <Select TItem="TeamDto"
                                TItemValue="int?"
                                DataSource="@teams"
                                DefaultValue="@Match.HomeTeam?.Id"
                                LabelName="@nameof(TeamDto.Name)"
                                ValueName="@nameof(TeamDto.Id)"
                                Style="width: 100%"
                                Placeholder="Select a home team"
                                IgnoreItemChanges="false"
                                OnSelectedItemChanged="OnSelectedHomeTeam"
                                AllowClear>
                        </Select>
                    </FormItem>
                    <FormItem Label="Home team players">
                        <Select Mode="multiple"
                                TItem="PlayerDto"
                                TItemValue="int?"
                                DefaultValues="@_selectedValues1"
                                DataSource="@homeTeamPlayers"
                                LabelName="@nameof(PlayerDto.FullName)"
                                ValueName="@nameof(PlayerDto.Id)"
                                Style="width: 100%"
                                Placeholder="Select a players"
                                IgnoreItemChanges="false"
                                OnSelectedItemsChanged="OnSelectedHomePlayers"
                                AllowClear>
                        </Select>
                    </FormItem>
                    <FormItem Label="Away Team">
                        <Select TItem="TeamDto"
                                TItemValue="int?"
                                DataSource="@teams"
                                DefaultValue="@Match.AwayTeam?.Id"
                                LabelName="@nameof(TeamDto.Name)"
                                ValueName="@nameof(TeamDto.Id)"
                                Style="width: 100%"
                                Placeholder="Select a away team"
                                IgnoreItemChanges="false"
                                OnSelectedItemChanged="OnSelectedAwayTeam"
                                AllowClear>
                        </Select>
                    </FormItem>
                    <FormItem Label="Away team players">
                        <Select Mode="multiple"
                                TItem="PlayerDto"
                                TItemValue="int?"
                                DefaultValues="@_selectedValues2"
                                DataSource="@awayTeamPlayers"
                                LabelName="@nameof(PlayerDto.FullName)"
                                ValueName="@nameof(PlayerDto.Id)"
                                Style="width: 100%"
                                Placeholder="Select a players"
                                IgnoreItemChanges="false"
                                OnSelectedItemsChanged="OnSelectedAwayPlayers"
                                AllowClear>
                        </Select>
                    </FormItem>
                    <FormItem Label="Home Team Goals">
                        <Input Type="number" @bind-Value="context.HomeTeamGoals" />
                    </FormItem>
                    <FormItem Label="Away Team Goals">
                        <Input Type="number" @bind-Value="context.AwayTeamGoals" />
                    </FormItem>

                    <FormItem Label="Game Time">
                        <DatePicker @bind-Value="context.GameTime" TValue="DateTime" ShowTime="@true" Format="yyyy-MM-ddTHH:mm" Mask="yyyy-MM-ddTHH:mm" Placeholder="@("yyyy-MM-ddTHH:mm")" />
                    </FormItem>
                    <FormItem Label="Game Round">
                        <Input @bind-Value="context.GameRound" />
                    </FormItem>
                    <FormItem Label="Game Place">
                        <Input @bind-Value="context.GamePlace" />
                    </FormItem>
                    <FormItem>
                        <Button OnClick="OpenAddSummaryModal">Add new summary</Button>
                    </FormItem>
                    @*  <Button OnClick="GetPlayerSummaries"></Button> *@
                </Form>
            </GridCol>
            <GridCol Span="11" Offset="1">
                <Table TItem="SummaryDto" DataSource="@Match.Summaries" @ref="summaryTable">
                    <PropertyColumn Property="c=>c.Player.FirstName">
                        @*                         <a>@context.Player.FirstName</a> *@
                    </PropertyColumn>
                    <PropertyColumn Property="c=>c.Player.LastName"></PropertyColumn>
                    <PropertyColumn Property="c=>c.Time"></PropertyColumn>
                    <PropertyColumn Property="c=>c.Type">
                        <a>@context.Type</a>
                    </PropertyColumn>
                    <ActionColumn Title="Edit">
                        <Space>
                            <SpaceItem><Button Danger OnClick="()=>OpenEditSummaryModal(context)">Edit</Button></SpaceItem>
                        </Space>
                    </ActionColumn>
                    <ActionColumn Title="Delete">
                        <Space>
                            <SpaceItem><Button Danger OnClick="()=>Delete(context.Id)">Delete</Button></SpaceItem>
                        </Space>
                    </ActionColumn>
                </Table>
            </GridCol>
        </GridRow>
    </div>


</Modal>

@code {
    [Parameter] public EventCallback CloseModal { get; set; }
    [Parameter] public int MatchId { get; set; }
    private Form<MatchDto> editMatchForm = null!;
    private Table<SummaryDto> summaryTable = null!;
    private List<TeamDto> teams = new();
    private List<PlayerDto> allPlayers = new();
    private HashSet<PlayerDto> matchPlayers = new();
    private HashSet<PlayerDto> homeTeamPlayers = new();
    private HashSet<PlayerDto> awayTeamPlayers = new();
    private HashSet<PlayerDto> selectedHomeTeamPlayers = new();
    private HashSet<PlayerDto> selectedAwayTeamPlayers = new();
    private List<LeagueDto> leagues = new();
    private bool showAddSummaryModal;
    private bool showEditSummaryModal;
    private bool submitting;
    public IEnumerable<int?> _selectedValues1, _selectedValues2;
    private SummaryDto summary;
    private MatchDto Match = new();

    protected async override Task OnParametersSetAsync()
    {
        var resultTeams = await Server.Teams.Get();
        teams = resultTeams.ToList();
        var resultPlayers = await Server.Players.Get();
        allPlayers = resultPlayers.ToList();
        var resultLeague = await Server.Leagues.Get();
        leagues = resultLeague.ToList();
        Match = await Server.Matches.Get(MatchId);
        // _selectedValues1 = Match.Players.Where(x => x.TeamId == Match.HomeTeam.Id).Select(x => x.Id.ToString()).ToList();
        // _selectedValues2 = Match.Players.Where(x => x.TeamId == Match.AwayTeam.Id).Select(x => x.Id.ToString()).ToList();
        _selectedValues1 = Match.Players.Where(x => x.TeamId == Match.HomeTeam.Id).Select(x => x?.Id).ToList();
        _selectedValues2 = Match.Players.Where(x => x.TeamId == Match.AwayTeam.Id).Select(x => x?.Id).ToList();
        homeTeamPlayers = allPlayers.Where(x => x.TeamId == Match.HomeTeam.Id).ToHashSet();
        awayTeamPlayers = allPlayers.Where(x => x.TeamId == Match.AwayTeam.Id).ToHashSet();
        // selectedHomeTeamPlayers = allPlayers.Where(x => x.TeamId == Match.HomeTeam.Id).ToHashSet();
        // selectedAwayTeamPlayers = allPlayers.Where(x => x.TeamId == Match.AwayTeam.Id).ToHashSet();
    }

    public async Task HandleOk(MouseEventArgs e)
    {
        submitting = true;
        editMatchForm.Submit();
    }

    private async Task HandleCancel(MouseEventArgs e)
    {
        await CloseModal.InvokeAsync();
    }

    private async Task OnFinish(EditContext editContext)
    {
        SetPlayersToMatch();
        var result = await Server.Matches.Update(Match);
        if (result)
            _ = MessageService.Success("Match is edited.");

        await CloseModal.InvokeAsync();
    }

    private void OnFinishFailed(EditContext editContext)
    {
        ///Console.WriteLine($"Failed:{JsonSerializer.Serialize(player.LastName)}");
    }

    private async void OnSelectedHomeTeam(TeamDto team)
    {
        if (team is null) return;

        Match.HomeTeam = teams.FirstOrDefault(x => x.Id == team.Id);
        await Task.Delay(10); // state has changed not worked withoud this delay.
        homeTeamPlayers = allPlayers.Where(x => x.TeamId == Match.HomeTeam.Id).ToHashSet();
        StateHasChanged();

    }

    public async void OnSelectedAwayTeam(TeamDto team)
    {
        if (team is null) return;

        Match.AwayTeam = teams.FirstOrDefault(x => x.Id == team.Id);
        await Task.Delay(10); // state has changed not worked withoud this delay.
        awayTeamPlayers = allPlayers.Where(x => x.TeamId == Match?.AwayTeam?.Id).ToHashSet();
        StateHasChanged();
    }

    public async Task AddNewSummary(SummaryDto summary)
    {
        Match.Summaries.Add(summary);
        showAddSummaryModal = false;
        summaryTable.ReloadData();
    }

    public void OpenAddSummaryModal()
    {
        matchPlayers = new HashSet<PlayerDto>(selectedHomeTeamPlayers);
        matchPlayers.UnionWith(selectedAwayTeamPlayers);

        showAddSummaryModal = true;
    }

    private void CloseAddSummaryModal()
    {
        showAddSummaryModal = false;
    }

    public void OpenEditSummaryModal(SummaryDto value)
    {
        summary = value;
        showEditSummaryModal = true;
    }

    public async Task EditExistingSummary(SummaryDto summary)
    {
        //match.Summaries.Add(summary);
        showEditSummaryModal = false;
        summaryTable.ReloadData();
    }

    private void CloseEditSummaryModal()
    {
        showEditSummaryModal = false;
    }

    private async Task OnSelectedLeague(LeagueDto league)
    {
        if (league is null) return;

        //var leagueId = Int32.Parse(league.Id);
        LeagueDto tempLeague = new()
            {
                Id = league.Id,
                Name = leagues.FirstOrDefault(x => x.Id == league.Id).Name,
                Year = leagues.FirstOrDefault(x => x.Id == league.Id).Year
            };
        Match.League = tempLeague;
        teams = await Server.Teams.GetTeamsByLeague(league.Id);
        StateHasChanged();
    }

    private void OnSelectedHomePlayers(IEnumerable<PlayerDto> players)
    {
        selectedHomeTeamPlayers = players?.ToHashSet();
    }

    private void OnSelectedAwayPlayers(IEnumerable<PlayerDto> players)
    {
        selectedAwayTeamPlayers = players?.ToHashSet();
    }

    private void SetPlayersToMatch()
    {
        Match.Players.Clear();
        Match.Players.AddRange(selectedHomeTeamPlayers);
        Match.Players.AddRange(selectedAwayTeamPlayers);
    }

    private void Delete(int id)
    {
    }

    private void Edit(int id)
    {
        // Id = id;
        // showEditPlayerModal = true;
    }
}
