@using LA_LIGA_REKREATIVO.Client.Services
@using LA_LIGA_REKREATIVO.Shared.Dto
@using LA_LIGA_REKREATIVO.Client.Server;
@using Microsoft.Extensions.Localization

@inject Server Server
@inject NavigationManager Navigation
@inject FileService _fileService;
@inject IStringLocalizer<Shared.DreamTeam> Localizer

@if (Stats.Count() > 0)
{
    <Card BodyStyle="padding: 0px;" Size="small">
        <TitleTemplate>
            <span style="display: flex; justify-content: center; font-size: large;">
                @Localizer["DreamTeam1"]
            </span>
        </TitleTemplate>

        <Body>
            <div class="pitch">
                <!-- Center circle and center spot -->
                <div class="center-circle"></div>
                <div class="center-spot"></div>
                <div class="goal-bottom"></div>
                <div class="goal-top"></div>
                <div class="center-line"></div>
                <div style="height: 100%;">
                    <GridRow Style="height: 33%;">
                        <GridCol Style="display: flex; justify-content: center; align-items: center;" Span="12">
                            <div>
                                <div class="dream-team-containter">
                                    <div class="dream-team-div">
                                        <a @onclick="() => GoToProfilePage(Stats.FirstOrDefault().Player.Id)">
                                            <img class="dream-team-img" src="@_fileService.GetImagePath(Stats.FirstOrDefault().Player.Picture)" />
                                        </a>
                                    </div>
                                </div>
                                <div style="display: flex; justify-content: center; color: white;">
                                    @Stats.FirstOrDefault().Player.FullName
                                </div>
                                <div style="display: flex; justify-content: center; color: white;">
                                    @Stats.FirstOrDefault().TotalPoints
                                    <Icon Style="position: relative; top: 4px;" Type="star" Theme="fill" />
                                </div>
                            </div>
                        </GridCol>
                        <GridCol Style="display: flex; justify-content: center; align-items: center;" Span="12">
                            <div>
                                <div class="dream-team-containter">
                                    <div class="dream-team-div">
                                        <a @onclick="() => GoToProfilePage(Stats.Skip(1).FirstOrDefault().Player.Id)">
                                            <img class="dream-team-img" src="@_fileService.GetImagePath(Stats.Skip(1).FirstOrDefault().Player.Picture)" />
                                        </a>
                                    </div>
                                </div>
                                <div style="display: flex; justify-content: center; color: white;">
                                    @Stats.Skip(1).FirstOrDefault().Player.FullName
                                </div>
                                <div style="display: flex; justify-content: center; color: white; ">
                                    @Stats.Skip(1).FirstOrDefault().TotalPoints
                                    <Icon Style="position: relative; top: 4px;" Type="star" Theme="fill" />
                                </div>
                            </div>
                        </GridCol>
                    </GridRow>

                    <GridRow style="height: 33%;">
                        <GridCol Style="display: flex; justify-content: center; align-items: center;" Span="12">
                            <div>
                                <div class="dream-team-containter">
                                    <div class="dream-team-div">
                                        <a @onclick="() => GoToProfilePage(Stats.Skip(2).FirstOrDefault().Player.Id)">
                                            <img class="dream-team-img" src="@_fileService.GetImagePath(Stats.Skip(2).FirstOrDefault().Player.Picture)" />
                                        </a>
                                    </div>
                                </div>
                                <div style="display: flex; justify-content: center; color: white;">
                                    @Stats.Skip(2).FirstOrDefault().Player.FullName
                                </div>
                                <div style="display: flex; justify-content: center; color: white; ">
                                    @Stats.Skip(2).FirstOrDefault().TotalPoints
                                    <Icon Style="position: relative; top: 4px;" Type="star" Theme="fill" />
                                </div>
                            </div>
                        </GridCol>
                        <GridCol Style="display: flex; justify-content: center; align-items: center;" Span="12">
                            <div>
                                <div class="dream-team-containter">
                                    <div class="dream-team-div">
                                        <a @onclick="() => GoToProfilePage(Stats.Skip(3).FirstOrDefault().Player.Id)">
                                            <img class="dream-team-img" src="@_fileService.GetImagePath(Stats.Skip(3).FirstOrDefault().Player.Picture)" />
                                        </a>
                                    </div>
                                </div>
                                <div style="display: flex; justify-content: center; color: white; ">
                                    @Stats.Skip(3).FirstOrDefault().Player.FullName
                                </div>
                                <div style="display: flex; justify-content: center; color: white;">
                                    @Stats.Skip(3).FirstOrDefault().TotalPoints
                                    <Icon Style="position: relative; top: 4px;" Type="star" Theme="fill" />
                                </div>
                            </div>
                        </GridCol>
                    </GridRow>

                    <GridRow style="height: 33%;">
                        <GridCol Style="display: flex; justify-content: center; align-items: center;" Span="24">
                            @{
                                var gk = Stats.FirstOrDefault(x => x.Player.IsGk);
                            }
                            @if (gk != null)
                            {
                                <div>
                                    <div class="dream-team-containter">
                                        <div class="dream-team-div">
                                            <a @onclick="() => GoToProfilePage(gk.Player.Id)">
                                                <img class="dream-team-img" src="@_fileService.GetImagePath(gk.Player.Picture)" />
                                            </a>
                                        </div>
                                    </div>
                                    <div style="display: flex; justify-content: center; color: white;">
                                        @gk.Player.FullName (GK)
                                    </div>
                                    <div style="display: flex; justify-content: center; color: white; ">
                                        @gk.TotalPoints <Icon Style="position: relative; top: 4px;" Type="star" Theme="fill" />
                                    </div>
                                </div>
                            }
                        </GridCol>
                    </GridRow>
                </div>
            </div>
        </Body>
    </Card>


    <Card Style="width: 100%; margin-top: 1rem;" Size="small">
        <TitleTemplate>
            <span style="display: flex; justify-content: center; font-size: large;">
                @Localizer["Subs"]
            </span>
        </TitleTemplate>
        <Body>
            <AntList Class="demo-loadmore-list" DataSource="@StatsSub" ItemLayout="ListItemLayout.Horizontal">
                <ChildContent Context="item">
                    <ListItem Style="padding: 2px 0;">
                        <ListItemMeta>
                            <TitleTemplate>
                                <span>
                                    <a @onclick="() => GoToProfilePage(item.Player.Id)">
                                        <img class="player-img" src="@_fileService.GetImagePath(item.Player.Picture)" />
                                    </a>
                                </span>

                                <span>
                                    <a style="display: inline-grid" @onclick="() => GoToProfilePage(item.Player.Id)">
                                        <span>
                                            @item.Player.FullName
                                            @if (item.Player.IsGk)
                                            {
                                                <span> (GK) </span>
                                            }
                                        </span>
                                        <span style="font-size: smaller"> @item.Team.Name </span>
                                    </a>
                                </span>
                            </TitleTemplate>
                        </ListItemMeta>
                        <div>@item?.TotalPoints <Icon Type="star" Theme="fill" /></div>
                    </ListItem>
                </ChildContent>
            </AntList>
        </Body>
    </Card>

}

@code {
    [Parameter] public List<PlayerStatsDto> Stats { get; set; } = new();
    [Parameter] public List<PlayerStatsDto> StatsSub { get; set; } = new();
    [Parameter] public List<LeagueDto> Leagues { get; set; } = new();
    [Parameter] public int defaultLeagueId { get; set; }
    public int count = 6;
    public int multiple = 1;

    private void GoToProfilePage(int id)
    {
        Navigation.NavigateTo($"/playerProfile/{id}");
    }
}
