@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Shared.NavMenu> Localizer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <img style="height: 42px; border-radius: 50%;" src="./channels4_profile-removebg-preview.png" />
        <a style="font-size: 1rem;" class="navbar-brand" href="">
            La Liga Rekreativo
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> @Localizer["Home"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="matches">
                <span class="oi oi-calendar" aria-hidden="true"></span> @Localizer["Matches"]
            </NavLink>
        </div>
        @*         <div class="nav-item px-3">
        <NavLink class="nav-link" href="admin">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Admin
        </NavLink>
        </div> *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="standings">
                <span class="oi oi-graph" aria-hidden="true"></span> @Localizer["Standings"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dreamTeam">
                <span class="oi oi-star" aria-hidden="true"></span> @Localizer["DreamTeam"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="stats">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> @Localizer["Stats"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fantasy-rules">
                <span class="oi oi-info" aria-hidden="true"></span> @Localizer["FantasyRules"]
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
