@using LA_LIGA_REKREATIVO.Client.Services
@using LA_LIGA_REKREATIVO.Shared.Dto
@inject FileService _fileService;

<GridRow>
    <GridCol Span="24">
        <ChildContent>
            @foreach (var item in Match.Summaries.OrderBy(x => x.Time))
            {
                if (item.Type == SummaryType.CleanSheetGK ||
                    item.Type == SummaryType.FourSavesGK ||
                    item.Type == SummaryType.SavedFrom10meterGK ||
                    item.Type == SummaryType.SavedFromPenaltyGK)
                {
                    continue;
                }
                if (item.Player.TeamId == Match.HomeTeam.Id)
                {
                    <GridRow Style="display:flex; justify-content: left">
                        <span style="font-weight:500; padding-right: 0.5rem;">@item.Time.ToString()'</span>
                        <Tooltip Title="@item.Type.ToString()">
                            <img height="24px;" src="@_fileService.GetImgSrc(item.Type)" />
                        </Tooltip>
                        <span style="font-weight:500;padding-left: 0.5rem;">@item.Player.FirstName @item.Player.LastName</span>
                    </GridRow>
                }
                else
                {
                    <GridRow Style="display:flex; justify-content: right">
                        <span style="font-weight:500;padding-right: 0.5rem;">@item.Player.FirstName @item.Player.LastName</span>
                        <Tooltip Title="@item.Type.ToString()">
                            <img height="24px;" src="@_fileService.GetImgSrc(item.Type)" />
                        </Tooltip>
                        <span style="font-weight:500; padding-left: 0.5rem">@item.Time.ToString()'</span>
                    </GridRow>
                }
            }
        </ChildContent>

    </GridCol>
</GridRow>
@code {
    [Parameter] public MatchDto Match { get; set; }
}
