@page "/"
@using LA_LIGA_REKREATIVO.Client.Server;
@using LA_LIGA_REKREATIVO.Client.Shared.Matches
@using LA_LIGA_REKREATIVO.Shared.Dto;
@using LA_LIGA_REKREATIVO.Client.Services;

@inject Server Server
@inject FileService _fileService
@inject NavigationManager Navigation


<Spin Spinning=loading>
    <PageHeader Class="site-page-header" Title="La liga rekreativo" Subtitle="Sezona 4" Style="margin-bottom: 12px;" />

    <div class="site-statistic-demo-card" style="margin-bottom: 12px;">
        <Row Gutter="12">
            <Col Span="12">
            <Card>
                <Statistic Title="Total matches" Value="@leagueStatistic.TotalMatches" ValueStyle="color: #cf1322; display: flex; justify-content: center;">
                </Statistic>
            </Card>
            </Col>
            <Col Span="12">
            <Card>
                <Statistic Title="Players number" Value="@leagueStatistic.NumberOfPlayers" ValueStyle="color: #cf1322; display: flex; justify-content: center;">
                </Statistic>
            </Card>
            </Col>
        </Row>
    </div>

    <div class="site-statistic-demo-card" style="margin-bottom: 12px;">
        <Row Gutter="12">
            <Col Span="12">
            <Card>
                <Statistic Title="Goals per match" Value="@leagueStatistic.GoalsPerMatch" Precision="2" ValueStyle="color: #3f8600; display: flex; justify-content: center;" Suffix="%">
                </Statistic>
            </Card>
            </Col>
            <Col Span="12">
            <Card>
                <Statistic Title="Assists per match" Value="@leagueStatistic.AssistsPerMatch" Precision="2" ValueStyle="color: #3f8600; display: flex; justify-content: center;" Suffix="%">
                </Statistic>
            </Card>
            </Col>
        </Row>
    </div>

    <div class="site-statistic-demo-card" style="margin-bottom: 12px;">
        <PlayOff></PlayOff>
    </div>


    <Card Size="small" Title="Top Goalscorer" Style="margin-bottom: 16px;">
        <Body>
            <Table TItem="PlayerStatsDto"
                   DataSource="@stats"
                   HidePagination>
                <PropertyColumn Style="padding: 4px 4px; !important" Title="#" HeaderStyle="display: none;" Property="c=> c.OrderId"></PropertyColumn>
                <PropertyColumn Style="padding: 4px 4px; !important" Title="Name" HeaderStyle="display: none;" Property="c=>c.Player.Picture">
                    <span>
                        <img class="player-img" src="@_fileService.GetImagePath(context.Player.Picture)" />
                    </span>
                    <span>
                        <a style="display: inline-grid" @onclick="() => GoToProfilePage(context.Player.Id)">
                            <span>@context.Player.FullName</span>
                            <span style="font-size: smaller"> @context.Team.Name </span>
                        </a>
                    </span>
                </PropertyColumn>
                <PropertyColumn Style="padding: 4px 4px; !important" Title="Goals" HeaderStyle="display: none;" Property="c=>c.Goals" />
            </Table>
        </Body>
    </Card>

    <Card Size="small" Title="Top Assistents">
        <Body>
            <Table TItem="PlayerStatsDto"
                   DataSource="@topAssistents"
                   HidePagination>
                <PropertyColumn Style="padding: 4px 4px; !important" Title="#" HeaderStyle="display: none;" Property="c=> c.OrderId"></PropertyColumn>
                <PropertyColumn Style="padding: 4px 4px; !important" Title="Name" HeaderStyle="display: none;" Property="c=>c.Player.Picture">
                    <span>
                        <img class="player-img" src="@_fileService.GetImagePath(context.Player.Picture)" />
                    </span>
                    <span>
                        <a style="display: inline-grid" @onclick="() => GoToProfilePage(context.Player.Id)">
                            <span>@context.Player.FullName</span>
                            <span style="font-size: smaller"> @context.Team.Name </span>
                        </a>
                    </span>
                </PropertyColumn>
                <PropertyColumn Style="padding: 4px 4px; !important" Title="Assists" HeaderStyle="display: none;" Property="c=>c.Assists" />
            </Table>
        </Body>
    </Card>

</Spin>


@code {
    // private List<LeagueDto> leagues = new();
    private LeagueStatisticDto leagueStatistic = new();
    private List<PlayerStatsDto> stats = new();
    private List<PlayerStatsDto> topAssistents = new();
    //private List<TeamStatsDto> stats = new();
    // int defaultvalue = 1;
    Dictionary<string, int> fantasyRules = new();
    public bool InitLoading { get; set; } = true;
    private bool loading;

    protected async override Task OnParametersSetAsync()
    {
        loading = true;
        fantasyRules.Add("Gol", 5);
        fantasyRules.Add("Asistencija", 2);
        fantasyRules.Add("Ucestovanje na mecu", 2);
        fantasyRules.Add("Auto gol", -3);
        fantasyRules.Add("Zuti karton", -2);
        fantasyRules.Add("Crveni karton", -7);
        fantasyRules.Add("Promasen penal", -3);
        fantasyRules.Add("Promasen udarac sa 10 m", -2);
        fantasyRules.Add("Clean sheet golman", 5);
        fantasyRules.Add("Svake 4 odbrane golman", 1);
        fantasyRules.Add("Odbranjen penal golman", 3);
        fantasyRules.Add("Odbranjen udarac sa 10 m golman", 2);

        // var result = await Server.Leagues.Get();
        // leagues = result.ToList();

        var topGoalscorersResult = await Server.Players.GetTopGoalscorer();// GetStandingsByLeague(leagues.FirstOrDefault().Id);
                                                                           // SetOrderId(stats);
                                                                           // StateHasChanged();
        var topAssistentsResult = await Server.Players.GetTopAssitent();
        stats = topGoalscorersResult.ToList();
        SetOrderId(stats);
        topAssistents = topAssistentsResult.ToList();
        SetOrderId(topAssistents);
        leagueStatistic = await Server.Matches.GetLeagueStatistic();
        loading = false;
        StateHasChanged();
    }

    // private void SetOrderId(List<TeamStatsDto> teamStats)
    // {
    //     int orderId = 1;
    //     stats.ForEach(x => { x.OrderId = orderId; orderId++; });
    //     StateHasChanged();
    // }

    private void GoToProfilePage(int id)
    {
        Navigation.NavigateTo($"/playerProfile/{id}");
    }

    private void SetOrderId(List<PlayerStatsDto> playerStats)
    {
        int orderId = 1;
        playerStats.ForEach(x => { x.OrderId = orderId; orderId++; });
        StateHasChanged();
    }
}