@page "/matches"
@using LA_LIGA_REKREATIVO.Shared
@using LA_LIGA_REKREATIVO.Shared.Dto;
@using LA_LIGA_REKREATIVO.Client.Server;
@using System.Net.Http.Headers
@inject Server Server;
@inject NavigationManager Navigation
@inject HttpClient Http

<div style="padding: 1rem!important; display: flex; justify-content: space-between; align-items:center;" class="rz-p-12 rz-text-align-center">
    <Button Style="background-color:transparent;" OnClick="@OnPrev" Shape="@ButtonShape.Circle" Icon="@IconType.Outline.Left" />
    <DatePicker TValue="DateTime" Picker="@DatePickerType.Date" Change="OnChangeDate" @bind-Value=@currentDate />
    <Button Style="background-color:transparent;" OnClick="@OnNext" Shape="@ButtonShape.Circle" Icon="@IconType.Outline.Right" />
</div>

<AntList DataSource="@matches" TItem="MatchDto">
    <ListItem OnClick="()=>SelectMatchDetails(context.Id)">
        <ListItemMeta>
            <TitleTemplate>
                <GridRow>
                    <GridCol Style="font-weight:500" Span="20">
                        <img style="height:22px;" src="./@context.HomeTeam.LogoSrc" />
                        <span style="padding-left:5px;">
                            @context.HomeTeam.Name
                        </span>
                    </GridCol>
                    <GridCol Style="font-weight:500" Span="4">@context.HomeTeamGoals</GridCol>
                    <GridCol Style="font-weight:500" Span="20">
                        <img style="height:22px;" src="./@context.AwayTeam.LogoSrc" />
                        <span style="padding-left:5px;">
                            @context.AwayTeam.Name
                        </span>
                    </GridCol>
                    <GridCol Style="font-weight:500" Span="4">@context.AwayTeamGoals</GridCol>
                </GridRow>
            </TitleTemplate>
        </ListItemMeta>
    </ListItem>
</AntList>

@code {
    List<MatchDto> matches = new List<MatchDto>();
    bool allowVirtualization = true;
    DateTime currentDate = DateTime.Now;

    public void SelectMatchDetails(int id)
    {
        Navigation.NavigateTo($"/matchDetails/{id}");
    }

    protected override async Task OnInitializedAsync()
    {
        var result = await Server.Matches.GetByDate(DateTime.Now);
        matches = result.ToList();
    }

    async Task OnNext()
    {
        currentDate = currentDate.AddDays(1);
        var result = await Server.Matches.GetByDate(currentDate);
        matches = result.ToList();
    }

    async Task OnPrev()
    {
        currentDate = currentDate.AddDays(-1);
        var result = await Server.Matches.GetByDate(currentDate);
        matches = result.ToList();
    }

    async Task OnChangeDate()
    {
        var result = await Server.Matches.GetByDate(currentDate);
        matches = result.ToList();
    }
}
