@using LA_LIGA_REKREATIVO.Shared.Dto;
@inject IMessageService MessageService

<Modal Title="Create new configuration"
       Visible="true"
       OnOk="HandleOk"
       OnCancel="@HandleCancel">
    <Form Model="summary"
          OnFinish="OnFinish"
          OnFinishFailed="OnFinishFailed"
          LabelColSpan="8"
          WrapperColSpan="16"
    @ref="@addSummaryForm">
        <GridRow>
            <GridCol Span="12">Player name:</GridCol>
            <GridCol Span="12">
                <SimpleSelect DefaultValue="@Players.FirstOrDefault().Id.ToString()" Style="width:120px;" OnSelectedItemChanged="setSummaryPlayer">
                    <SelectOptions>
                        @foreach (var player in Players)
                        {
                            <SimpleSelectOption Value="@player.Id.ToString()" Label="@player.FirstName"></SimpleSelectOption>
                        }
                    </SelectOptions>
                </SimpleSelect>
            </GridCol>
        </GridRow>
        <GridRow>
            <GridCol Span="12">Time:</GridCol>
            <GridCol Span="12"><Input Type="number" @bind-Value="@summary.Time" /></GridCol>
        </GridRow>
        <GridRow>
            <GridCol Span="12">Action:</GridCol>
            <GridCol Span="12">
                <EnumSelect TEnum="SummaryType" OnSelectedItemChanged="setSummaryType"></EnumSelect>
            </GridCol>
        </GridRow>
    </Form>
</Modal>


@code {
    [Parameter] public HashSet<PlayerDto> Players { get; set; }
    [Parameter] public EventCallback<SummaryDto> OnChange { get; set; }
    [Parameter] public EventCallback CloseModal { get; set; }
    private Form<SummaryDto> addSummaryForm = null!;
    private SummaryDto summary = new();
    private int selectedPlayerId = 0;
    private bool submitting;

    protected override void OnInitialized()
    {
        summary.Player = Players.FirstOrDefault();
        base.OnInitialized();
    }

    public async Task HandleOk(MouseEventArgs e)
    {
        submitting = true;
        addSummaryForm.Submit();
    }

    private async Task HandleCancel(MouseEventArgs e)
    {
        await CloseModal.InvokeAsync();
    }

    private async Task OnFinish(EditContext editContext)
    {
        if (OnChange.HasDelegate)
            await OnChange.InvokeAsync(summary);
        StateHasChanged();
    }

    private void OnFinishFailed(EditContext editContext)
    {
        ///Console.WriteLine($"Failed:{JsonSerializer.Serialize(player.LastName)}");
    }

    void setSummaryType(SummaryType summaryType)
    {
        summary.Type = summaryType;
    }

    void setSummaryPlayer(string value)
    {
        selectedPlayerId = Int32.Parse(value);
        summary.Player = Players.FirstOrDefault(x => x.Id == selectedPlayerId);
    }
}
